.collapse-wrapper {
    position: relative;


    .collapse-button {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
            fill: @color-font-brand;
        }
    }

}