.dialog-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @dialog-background;
    top: 0;

    .dialog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}