@import 'clipboard';
@import 'transaction-history';
@import 'error-message';
@import 'info';
@import 'toast';
@import 'tab-strip';
@import 'table';
@import 'loading';
@import 'search-bar';

.empty-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}