@import 'clipboard';
@import 'transaction-history';
@import 'error-message';
@import 'info';
@import 'toast';
@import 'tab-strip';
@import 'table';
@import 'loading';
@import 'search-bar';
@import 'dialog';
@import 'slider';
@import 'switch';
@import 'collapse';

.empty-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

        svg {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            fill: @color-font-gray;
        }

}