table {
  max-width: 100%;
  width: 100%;
  position: relative;

  thead {
    background-color: @color-dark;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    padding: 10px 5px;
    tr {
      position: relative;
      width: calc(100% - 10px);
      max-width: calc(100% - 10px);
      table-layout: fixed;
      display: flex;
      padding: 10px 0px;
      gap: 10px;
    }
    th {
      text-align: start;
      color: @color-font-brand;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    background-color: @color-base;
    color: @color-font-white;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);

    tr {
      position: relative;
      width: calc(100% - 10px);
      max-width: calc(100% - 10px);
      table-layout: fixed;
      display: flex;
      padding: 10px 5px;
      gap: 10px;

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        display: flex;

        &.copy-column {
          overflow: visible;
          span:not(.copy-icon) {
            position: relative;
            max-width: calc(100% - 12px);
            width: calc(100% - 12px);
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .copy-to-clipboard-message {
            z-index: 101;
            top: -5px;
            left: 100%;
            font-size: 12px;
            padding: 5px;
          }
        }

        &.action-cell {
          text-align: end;
        }

        svg {
          cursor: pointer;
          margin-right: 10px;

          path {
            fill: @color-font-white;
          }

          circle {
            fill: @color-font-white;
          }

          &:hover {
            path {
              fill: @color-font-brand;
            }

            circle {
              fill: @color-font-brand;
            }
          }
        }
      }

      &:nth-child(odd) {
        background-color: @color-tertiary-base;
      }
    }
  }
}
