table {
  max-width: 100%;
  width: 100%;
  position: relative;
  table-layout: fixed;

  thead {
    background-color: @color-dark;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    max-width: 100%;
    padding: 10px 5px;
    tr {
      position: relative;
      width: 100%;
      max-width: 100%;
      table-layout: fixed;
      display: flex;
      padding: 10px 0px;
      gap: 10px;
    }
    th {
      text-align: start;
      color: @color-font-brand;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    background-color: @color-base;
    color: @color-font-white;
    width: 100%;
    max-width: 100%;

    tr {
      position: relative;
      width: 100%;
      max-width: 100%;
      table-layout: fixed;
      display: flex;
      padding: 10px 5px;
      gap: 10px;

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        display: flex;

        &.copy-column {
          overflow: visible;
          span:not(.copy-icon) {
            position: relative;
            max-width: calc(100% - 12px);
            width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .copy-to-clipboard-message {
            z-index: 101;
            top: -5px;
            left: 100%;
            font-size: 12px;
            padding: 5px;
          }
        }

        &.action-cell {
          position: relative;
          text-align: end;
          overflow: visible;

          .expand-action {
            position: relative;

            .action-dropdown {
              position: absolute;
              display: flex;
              flex-direction: column;
              z-index: 101;
              background-color: @color-dark;
              border-radius: 5px;
              border: 1px solid @color-tertiary-base;

              .action-dropdown-item {
                position: relative;
                font-family: none;
                background-color: @color-dark;
                border-bottom: 1px solid @color-secondary-base;
                border-radius: 5px;
                padding: 7px 10px;
                z-index: 101;
                cursor: pointer;
                display: flex;
                justify-content: center;

                &:hover {
                  background-color: @color-secondary-base;
                }
              }
            }
          }
        }

        img {
          width: 14px;
          height: 14px;
          margin-right: 10px;
          border-radius: 50%;

          &:not(.no-hover) {
            cursor: default;
            &:hover {
              filter: saturate(50);
            }
          }
        }

        svg {
          cursor: pointer;
          margin-right: 10px;
          fill: @color-font-white;

          &:hover {
            fill: @color-brand-secondary;
          }
        }
      }

      &:nth-child(odd) {
        background-color: @color-tertiary-base;
      }
    }
  }
}

.pagination-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;

  .controls {
    display: flex;
    gap: 7px;
    justify-content: end;
    align-items: center;
    color: @color-font-white;
    flex-grow: 1;

    .pagination-button {
      padding: 10px 10px;
      background-color: @color-dark;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: @color-tertiary-base;
      }
      svg {
        width: 12px;
        height: 12px;
        fill: @color-font-white;
      }

      &.disabled {
        cursor: default;
        filter: saturate(0.2);
      }
    }

    span {
      font-family: none;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 300;
    }

    .pagination-select {
      position: relative;

      .pagination-select-dropdown {
        z-index: 101;
        position: absolute;
        top: -120px;
        background-color: @color-dark;
        border-radius: 5px;
        border: 1px solid @color-tertiary-base;

        .pagination-select-dropdown-option {
          width: 60px;
          font-size: 14px;
          padding: 5px 0px;
          border: 1px solid @color-dark;
          cursor: pointer;
          display: flex;
          justify-content: center;
          border-radius: 5px;

          &:hover {
            background-color: @color-base;
            border: 1px solid @color-tertiary-base;
            border-radius: 5px;
          }

          &.disabled {
            filter: saturate(0.2);
            cursor: default;
          }
        }
      }

      .pagination-select-button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60px;
        height: 32px;
        background-color: @color-dark;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: @color-tertiary-base;
        }

        svg {
          width: 12px;
          height: 12px;
          fill: @color-font-white;
        }
      }
    }
  }
}
