.right-section {
  position: fixed;
  background-color: @color-dark;
  color: @color-font-white;
  width: calc(100% - @menu-width);
  height: @default-terminal-height;
  min-height: 38px;
  left: @menu-width;
  bottom: 0;
  border-radius: 5px;
  padding: 0px 0 0px 0px;
  display: flex;
  flex-direction: column;
  z-index: 200;

  .topper {
    position: relative;
    width: 100%;
    border-top: 2px solid @color-tertiary-base;
    background-color: @color-tertiary-base;
    cursor: ns-resize;

    &:active {
      border-top: 4px solid @color-brand;
    }
  }

  .header {
    display: flex;

    .arrow-button {
      cursor: pointer;

      svg {
        margin-right: 15px;
        pointer-events: none;
        width: 24px;
        height: 24px;
        path {
          fill: @color-font-brand;
        }
      }

      &:hover {
        svg {
          margin-right: 15px;
          pointer-events: none;
          path {
            fill: @color-brand;
          }
        }
      }
    }

    span {
      line-height: 24px;
      vertical-align: top;
    }

    .title {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;

      span {
        display: block;

        &.transacations-count {
          font-size: 14px;
          line-height: 14px;
          color: @color-font-gray;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: calc(100% - 10px);
    height: 100%;
    overflow-y: scroll;
    padding-left: 10px;
    &::-webkit-scrollbar {
      display: none;
    }

    .transaction-item {
      display: flex;
      justify-content: start;
      align-items: center;
      width: calc(100% - 20px);
      padding: 5px;
      border-radius: 5px;
      gap: 5px;
      transition: 1s ease-in;
      position: relative;
      margin-bottom: 5px;
      &.success {
        background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-success-bg 100%);

        &.animation {
          background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-success-bg-bright 100%);
        }
      }

      &.fail {
        background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-fail-bg 100%);

        &.animation {
          background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-fail-bg-bright 100%);
        }
      }

      &.pending {
        background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-pending-bg 100%);

        &.animation {
          background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-pending-bg-bright 100%);
        }
      }

      svg {
        width: 12px;
        height: 12px;
      }

      &.success {
        svg {
          fill: @color-success;
        }
      }

      &.fail {
        svg {
          fill: @color-fail;
        }
      }

      &.pending {
        svg {
          fill: @color-pending;
        }
      }

      .signature {
        display: flex;
        flex-grow: 1;
        width: 30%;
        .truncate {
          display: inline-block;
          width: fit-content;
          max-width: calc(100% - 25px);
        }
      }

      .from {
        display: flex;
        width: 30%;
        max-width: 335px;
        justify-content: center;
        .truncate {
          display: inline-block;
          width: fit-content;
          max-width: calc(100% - 25px);
        }
      }

      .value {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      .copy-icon {
        position: relative;
      }
      .copy-to-clipboard-message {
        top: -5px;
        right: -50px;
        padding: 5px;
        font-size: 12px;
      }

      .time {
        width: 10%;
      }

      .status {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        min-width: 100px;

        span
        {
          max-width: 100%;
          margin-top: 5px;
          padding: 0px 3px;
          color: @color-dark;
          font-size: 10px;
          border-radius: 10px;
          background-color: @color-info-bg;
          text-align: center;
        }
      }

      .copy-icon {
        width: 20px;
      }

      .view {
        width: 40px;
        display: flex;
        justify-content: center;

        svg {
          cursor: pointer;
        }
      }

      &.header {
        padding: 10px 0;
        top: 0px;
        left: 0;
        position: sticky;
        background-color: @color-dark;
        z-index: 2;
        border-radius: 0px;

        .signature {
          width: calc(30%);
        }

        .from {
          justify-content: start;
          width: calc(30% - 10px);
          max-width: 325px;
        }
      }
    }

    .empty-page {
      margin-top: 10px;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  .tab-strip {
    position: relative;
    background-color: @color-dark;
    border-radius: 0;
    font-size: 12px;
  }

  .open-close-button {
    width: fit-content;
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    z-index: 201;

    svg {
      width: 20px;
      height: 20px;
      fill: @color-font-brand;
    }

    &:hover {
      svg {
        fill: @color-brand;
      }
    }
  }
}
