.right-section {
  position: fixed;
  background-color: @color-dark;
  color: @color-font-white;
  width: @right-section-width;
  height: calc(100vh - @top-bar-height);
  left: calc(100vw - @right-section-width);
  top: @top-bar-height;
  border-radius: 5px;
  padding: 15px 0 15px 20px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;

    .arrow-button {
      cursor: pointer;

      svg {
        margin-right: 15px;
        pointer-events: none;
        width: 24px;
        height: 24px;
        path {
          fill: @color-font-brand;
        }
      }

      &:hover {
        svg {
          margin-right: 15px;
          pointer-events: none;
          path {
            fill: @color-brand;
          }
        }
      }
    }

    span {
      line-height: 24px;
      vertical-align: top;
    }

    .title {
      display: flex;
      flex-direction: column;

      span {
        display: block;

        &.transacations-count {
          font-size: 14px;
          line-height: 14px;
          color: @color-font-gray;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: calc(100% - 20px);
    overflow-y: scroll;
    padding-top: 15px;
    &::-webkit-scrollbar {
      display: none;
  }

    .transaction-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: calc(100% - 20px);
        padding: 5px;
        border-radius: 5px;
        transition: 1s ease-in;
        &.success {
            background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-success-bg 100%);

            &.animation {
              background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-success-bg-bright 100%);
            }
        }

        &.fail {
            background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-fail-bg 100%);

            &.animation {
              background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-fail-bg-bright 100%);
            }
        }

        &.pending {
            background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-pending-bg 100%);

            &.animation {
              background: linear-gradient(to left, rgba(0, 255, 0, 0) 0%, @color-pending-bg-bright 100%);
            }
        }

        .status {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            svg {
                width: 12px;
                height: 12px;
            }

            &.success {
                svg {
                    path {
                        fill: @color-success;
                    }
                }
            }

            &.fail {
                svg {
                    path {
                        fill: @color-fail;
                    }
                }
            }

            &.pending {
                svg {
                    path {
                        fill: @color-pending;
                    }
                }
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            .signature {
                .truncate {
                    display: inline-block;
                    width: 70px;
                    max-width: 70px;
                }
            }
        }

        .view {
            margin-right: 10px;

            svg {
                width: 12px;
                height: 12px;
                path {
                    fill: @color-font-white;
                }
                circle {
                    fill: @color-font-white;
                }

                &:hover {
                    path {
                        fill: @color-brand;
                    }
                    circle {
                        fill: @color-brand;
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .item-content {
            width: 226px;
            .info {
              .signature {
                position: relative;
                .copy-to-clipboard-message {
                  left: 70px;
                }
              }
            }
        }
    }
  }

  transition: 0.5s ease;
}

.right-section-hidden {
  position: fixed;
  background-color: @color-dark;
  color: @color-font-white;
  width: @right-section-hidden-width;
  height: calc(100vh - @top-bar-height);
  left: calc(100vw - @right-section-hidden-width);
  top: @top-bar-height;
  border-radius: 5px;
  padding: 15px 0 15px 20px;
  display: flex;
  flex-direction: column;

  .header {
    .arrow-button {
      cursor: pointer;

      svg {
        margin-right: 15px;
        pointer-events: none;
        width: 24px;
        height: 24px;
        path {
          fill: @color-font-brand;
        }
      }

      &:hover {
        svg {
          margin-right: 15px;
          pointer-events: none;
          path {
            fill: @color-brand;
          }
        }
      }
    }

    span {
      font-size: 24px;
      transform: rotate(90deg);
      transform-origin: left top;
      display: inline-block;
      text-wrap: nowrap;
      margin-left: 26px;
      margin-top: 15px;
      
      &.transacations-count {
        margin-top: 200px;
        font-size: 20px;
        color: @color-font-gray;
      }
    }
  }

  transition: 0.5s ease;
}