.wallet-selector {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 16px;
    line-height: 16px;
    color: @color-font-white;
    background-color: @color-tertiary-base;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
  
    svg {
      width: 20px;
      height: 20px;
      fill: @color-font-brand;
    }

    
  }

  .alias-icon-container {
    letter-spacing: 1px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(127deg, @color-brand-secondary 28.69%, @color-brand 100%);
    border-radius: 50%;
  }
  