.generate-wallet-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .response {
    position: relative;
    width: calc(100% - 30px);
    padding: @default-page-container-padding;
    margin-top: 20px;
    border-radius: 10px;

    .input-container {
      width: 100%;
      align-items: center;
      margin-bottom: 5px;
      input {
        font-size: 16px;
        padding: 10px 15px;
        background-color: @color-tertiary-base;
      }
    }
  }

  .generated-wallet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    .label-with-copy {
      display: flex;
      color: @color-font-brand;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
  .button-container {
    .button-with-text-and-icon {
      margin-left: calc(50% - 55px);
    }
  }

  .info-message {
    margin-top: 20px;
    width: calc(100% - 30px);
    max-width: 400px;
  }

  .error-message {
    width: calc(100% - 40px);
    max-width: 380px;
    padding: 5px 20px;
  }
}
