.import-wallet-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin-top: 20px;
  }

  .error-message {
    width: 380px;
  }

  .info-message {
    margin-top: 20px;
    width: 400px;
  }

  .import-wallet-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: @default-page-container-padding;
    background-color: @color-tertiary-base;
    margin-top: 20px;
    border-radius: 10px;
  }

  .input-container {
    width: 400px;
  }

  .label-with-copy {
    width: 100%;
    display: flex;
    color: @color-font-brand;
    text-align: start;
    margin-bottom: 5px;
  } 
}
