@import 'generate-wallet';
@import 'import-wallet';
@import 'wallet-list-page';
@import 'wallets-page';
@import 'settings-page';
@import 'license-settings-page';
@import 'connection-settings-page';
@import 'home-page';
@import 'trade-page';
@import 'view-wallet-page';
@import 'buy';
@import 'new-wallet';

.page-container {
    margin-top: @page-container-margin-top;
    width: 100%;
    height: @page-height;
}

.page-content-container {
    height: @page-height;
    background-color: @color-base;
    border-radius: 10px;
    padding: @default-page-container-padding;
    
    &.page-with-tabstrip {
        padding: 0;
    }
}