.track-process-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .profit {
    color: @color-success;
    svg {
      fill: @color-success !important;
    }
  }

  .loss {
    color: @color-fail;
    svg {
      fill: @color-fail !important;
    }
  }

  .idle {
    color: @color-pending;
    svg {
      fill: @color-pending !important;
    }
  }

  .npt-process {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .spinner {
      position: relative;
      top: 45%;
    }

    .top-panel {
      position: sticky;
      display: flex;
      top: 0px;
      color: @color-tertiary-base-hover;
      z-index: 1000;
      background-color: @color-base;

      .left-side {
        width: 70%;

        .copy-icon {
            svg {
                width: 14px;
                height: 14px;
            }
        }
      }

      .right-side {
        padding-top: 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .row {
          margin-bottom: 5px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: @color-tertiary-base-hover;
      }

      .title {
        position: relative;
        font-size: 20px;

        svg {
          position: relative;
          width: 24px;
          height: 24px;
          top: 6px;
          margin-right: 0px;
        }
      }
    }

    .tab-strip {
      padding-left: 0;
      margin-bottom: 10px;
    }

    .empty-page {
      margin-top: 100px;
    }

    table {
      font-size: 12px;

      td {
        span {
          svg {
            position: relative;
            width: 12px;
            height: 12px;
            top: 2px;
          }
        }

        &.action-cell {
          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    .row {
      display: flex;
      margin-bottom: 10px;
    }
  }

  .track-process-save-wallet-dialog {
    width: 400px;
    min-height: 240px;
    height: 240px;
    background-color: @color-dark;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: start !important;
  
    .track-process-save-wallet-dialog-header {
      position: sticky;
      top: 0px;
      padding: 15px;
      background-color: @color-dark;
      width: calc(100% - 30px);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: @color-font-white;
      font-size: 18px;
      letter-spacing: 1px;
      z-index: 100;
      border-radius: 10px;

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
  
      .subtitle {
        width: 100%;
        display: flex;
        color: @color-font-gray;
        font-size: 14px;
        margin-bottom: 30px;
      }
  
      svg {
        width: 20px;
        height: 20px;
        fill: @color-info;
        cursor: pointer;
      }
    }

    input {
      width: 360px;
    }
  }

  .save-wallet-icon {
    cursor: pointer;
    svg {
      fill: @color-brand !important;
    }
  }
}
