.wallet-list-page {
    width: 96%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
  }

  table {
    font-size: 14px;

    svg {
      width: 14px;
      height: 14px;
    }

    .copy-icon {
      svg {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }

  .search-bar-wrapper {
    min-width: 350px;
    width: 35%;
  }
}