// Variables

//  HEX colors *****************************************************************

//background colors
@color-base: #031525;
@color-secondary-base: #071a2b;
@color-tertiary-base: #162c46;
@color-quaternary-base: #203958;
@color-tertiary-base-hover: #2d588b;

//font colors
@color-font-gray: rgba(211,227,253,0.7);
@color-font-brand: rgb(138, 248, 211);
@color-font-white: #d3e3fd;

@color-brand: #00ffbd;
@color-brand-secondary: #6f42c1;
@color-black: rgb(10, 10, 10);
@color-dark: #020f1d;


//success colors
@color-success: rgb(67, 218, 105);
@color-fail: rgb(218, 67, 67);
@color-pending: rgb(218, 153, 67);

@color-success-bg: rgba(67, 218, 105, 0.2);
@color-fail-bg: rgba(218, 67, 67, 0.2);
@color-pending-bg: rgba(218, 153, 67, 0.2);

@color-success-bg-bright: rgba(67, 218, 105, 0.5);
@color-fail-bg-bright: rgba(218, 67, 67, 0.5);
@color-pending-bg-bright: rgba(218, 153, 67, 0.5);

@color-info: rgb(138, 180, 248);
@color-link: #1a90ff;
@color-action-panel: rgb(97, 127, 175);

@dialog-background: rgba(7, 26, 43, 0.7);

//paddings & margins
@default-main-container-padding: 30px;
@default-page-container-padding: 15px;
@page-container-margin-top: calc(@top-bar-height - @default-main-container-padding);


//sizes
@menu-width: 256px;
@menu-header-height: 96px;
@page-height: calc(100vh - @top-bar-height - @default-main-container-padding);
@right-section-width: 256px;
@right-section-hidden-width: 68px;
@top-bar-height: 30px;

