// Variables

//  HEX colors *****************************************************************

//background colors
@color-base: #031525;
@color-secondary-base: #071a2b;
@color-tertiary-base: #162c46;
@color-tertiary-base-hover: #2d588b;

//font colors
@color-font-gray: rgba(211,227,253,0.7);
@color-font-brand: rgb(138, 248, 211);
@color-font-white: #d3e3fd;

@color-brand: #00ffbd;
@color-brand-secondary: #6f42c1;

//paddings & margins
@default-main-container-padding: 30px;
@default-page-container-padding: 15px;
@page-container-margin-top: calc(@menu-header-height - @default-main-container-padding);


//sizes
@menu-width: 256px;
@menu-header-height: 96px;
@page-height: calc(100vh - @menu-header-height - @default-main-container-padding);