.checkbox {
    width: 20px;
    height: 20px;
    background-color: @color-secondary-base;
    border-radius: 5px;
    cursor: pointer;

    svg {
        position: relative;
        width: 14px !important;
        height: 14px !important;
        fill: @color-brand !important;
        top: -10px;
        left: 3px;
    }
}