// Variables

//  HEX colors *****************************************************************


//background colors
@color-base: #031525; // base color (dark gray) --edited
@color-secondary-base: #071a2b;
@color-tertiary-base: #162c46;

//font colors
@color-font-gray: rgba(211,227,253,0.7);
@color-font-blue: rgba(138,180,248,1);
@color-font-white: #d3e3fd;

@color-brand: #eb8f34; // Kubota color --edited