.generate-wallet-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .response {
    position: relative;
    width: 400px;
    padding: @default-page-container-padding;
    background-color: @color-tertiary-base;
    margin-top: 20px;
    border-radius: 10px;
  }

  .generated-wallet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    width: 100%;

    .label-with-copy {
      display: flex;
      color: @color-font-brand;
      margin-bottom: 5px;
    }  
  }
}
