.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: @color-base;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main-container {
  position: fixed;
  left: 256px;
  width: calc(100vw - 256px);
  height: 100vh;
  padding: 30px;
  color: @color-font-gray;
}

.top-bar {
  position: fixed;
  left: 256px;
  width: calc(100vw - 256px);
  z-index: 1001;
}

.container-end {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;

  .image-container {
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: @color-tertiary-base;
      color: @color-font-blue;
    }

    img {
      width: 10px;
      height: 10px;
    }
  }
}
